<%- include("partials/header"); -%>
<h1>New Account</h1>
<div class="formContainer">

<form class="" action="/accounts" method="post">
  <div class="form-group">
    <div class="col-50">
    <label for="name"><i class="fa fa-user"></i>Name</label>
    <input class="form-control" type="text" name="dealerName" placeholder="Enter Name">

    <label for="Phone">Phone Number</label>
    <input class="form-control" type="number" name="dealerPhNo">

    <label for="email">Email</label>
    <input class="form-control" type="email" name="dealerEmail">

    <label for="cylinder">Cylinder</label>
    <input class="form-control" type="String" name="cylinder_type">

    <label for="cylinder_Qnty">Cylinder Quantity</label>
    <input class="form-control" type="number" name="cylinder_Qnty">
      <h2>Details about Store In charge</h2>

    <label for="sName">SI-Name</label>
    <input class="form-control" type="text" name="si_name">

    <label for="sph_no">SI-Phone Number</label>
    <input class="form-control" type="number" name="si_phone">

    <label for="sEmail">SI-Email</label>
    <input class="form-control" type="email" name="si_Email">
    <h2>Details about Accountant</h2>

    <label for="name">A-Name</label>
    <input class="form-control" type="text" name="a_name">

    <label for="a_ph_no">A-Phone Number</label>
    <input class="form-control" type="number" name="a_phone">

    <label for="a_Email">A-Email</label>
    <input class="form-control" type="email" name="a_Email">
  </div>
 </div>
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
</div>

<%- include("partials/footer"); -%>
